*:focus {
    outline: none;
    background: none;
}

html {
    min-height: 100%;
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("SITEUNDERMAINTENANCE.png");
    background-size: 25%;
    z-index: 9999999999;
}

.modalDialog {
    margin: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 600ms ease-in;
    -moz-transition: opacity 600ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.close {
    font-family: 'federant';
    background: -webkit-radial-gradient( orange, red, #200);
    max-width: 100%;
    border: .5px hidden black;
    color: white;
    line-height: 29px;
    position: fixed;
    right: 305px;
    text-align: center;
    top: 40px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 25px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.close:hover {
    background: black;
    max-width: 100%;
    border: .5px solid red;
    color: black;
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.modalDialog>div {
    color: white;
    font-family: Federant;
    line-height: 2;
    font-size: 22px;
    text-align: center;
    width: 55%;
    position: relative;
    margin: 50px auto;
    padding: 50px;
    border-radius: 15px;
    background: url(BlackWood.png);
    background-size: 100% 120%;
    border: #FF2700 double 5px;
    max-width: 100%;
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    text-shadow: -2px -1px 0 black, 2px -1px 0 black, -2px 1px 0 black, 2px 1px 0 black;
}

.animated {
    background: url(EmbersGif.gif);
    background-size: 100% 100%;
    background-position: left top;
    margin-bottom: 30px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

h4:hover {
    box-shadow: 2px 8px 10px #Ff0;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
    transition: 1s;
}

h3:hover {
    color: #ff0;
    text-shadow: 2px 1px 0 #000;
    transition: 1s;
}

#menumade {
    padding-top: 15px;
    width: 60px;
    filter: drop-shadow(2px 2px 1px #010);
}

h1 {
    color: #fff;
    background: url(BurnedWood.avif);
    background-position: top;
    font-family: 'Kanit';
    text-align: center;
    font-weight: bolder;
    border-top: 1px solid gray;
    padding: 20px 0;
}

h2 {
    font-size: 35px;
    font-family: 'Federant', serif;
    font-weight: bolder;
    color: #FF2700;
    text-align: center;
    text-shadow: -1px -1px 0 #040, 1px 1px 0 #fff;
    margin: 40px 0;
}

h3 {
    font-size: 28px;
    font-family: 'Quintessential', serif;
    font-weight: bolder;
    text-align: center;
    width: 220px;
    margin: 20px auto;
    color: #FF2700;
    text-shadow: -1px -1px 0 #050, 1px 1px 0 #fff;
    transition: 1s;
}

h4 {
    position: absolute;
    top: 50px;
    left: 43%;
    font-weight: bolder;
    margin: 20px auto;
    font-size: 18px;
    color: #fff;
    padding: 8px 10px;
    background: repeating-linear-gradient(to top, #FF2700, #f00, #ff0 100%);
    width: 180px;
    border-radius: 30px;
    font-family: 'federant';
    text-decoration: none;
    border: .5px solid #FF2700;
    box-shadow: 2px 4px 8px #000, -2px 4px 8px #000;
    transition: 1s;
}

h5 {
    font-family: Federant;
    font-size: 26px;
    line-height: 1.7;
}

h6 {
    font-size: 18px;
    margin: 0px auto;
    width: 400px;
    color: #FF2700;
    text-shadow: -.5px -.5px 0 #FF2700, .5px .5px 0 #fff;
}

#mobilemenu h5{
    width: 410px;
    margin: auto;
    color: darkolivegreen;
}

p {
    color: #fff;
    font-size: 17px;
    width: 250px;
    margin: auto;
    font-family: serif;
}

#map {
    width: 616px;
    height: 318px;
    margin: 50px auto;
    border: 8px double gray;
    border-radius: 10px;
}

#about {
    max-width: 75%;
    margin: auto;
}

#about h2 {
    color: ghostwhite;
    text-shadow: 1px 1px 0 #FF2700, -1px -1px 0 #FF2700, 1px -1px 0 #FF2700, -1px 1px 0 #FF2700, 1px 1px 0 #FF2700;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: url(EllaSlideBW.jpeg);
    background-repeat: repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    transition: .8s;
    padding-top: 150px;
    font-family: 'Quintessential';
    font-weight: bold;
}

.sidenav a {
    padding: 45px 10px;
    font-size: 28px;
    color: white;
    display: block;
    transition: 1s;
    max-width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0 #FF2700, -1px -1px 0 #FF2700, 1px -1px 0 #FF2700, -1px 1px 0 #FF2700, 1px 1px 0 #FF2700;
    text-decoration: none;
}

.sidenav a:hover {
    color: #F00;
    text-shadow: 1px 1px 0 Black, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.sidenav .closebtn {
    margin: 0 40px;
    padding: 40px 20px 28px 22px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
    text-decoration: none;
}

.sidenav .closebtn:hover {
    background: none;
}

nav {
    margin: 22px auto;
    margin-bottom: 20px;
    width: 97.2%;
    max-width: 1600px;
    height: 135px;
    text-align: center;
}

nav img {
    float: left;
}

nav p {
    color: #FF2700;
    font-family: 'Quintessential';
    float: right;
    margin-top: 30px;
}

#call {
    width: 150px;
    margin: auto;
}

#togo {
    width: 180px;
    margin: 35px 0;
}

.navicon {
    float: right;
    width: 53px;
    height: 40px;
    margin: 25px 50px;
    z-index: 100;
}

.navicon:hover {
    filter: drop-shadow(2px 2px 4px #ff0);
}

.logo {
    width: 140px;
    margin: 2px 0 12px 40px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 1.5s;
    /* Safari */
    transition: width 2s, height 2s, transform 1.5s;
}

.logo:hover {
    -webkit-transform: rotate(360deg);
    /* Safari */
    transform: rotate(360deg);
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#stage {
    width: 100%;
    position: absolute;
    margin: auto;
    z-index: -1;
}

#stage img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 3s;
    animation-duration: 2s;
    z-index: 20;
}

#stage img:nth-of-type(2) {
    z-index: 10;
}

#stage img:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

#intro {
    width: 100%;
    height: 650px;
    margin: auto;
}

#intro img {
    width: 100%;
    height: 580px;
    margin: auto;
    position: absolute;
}

#info {
    text-align: center;
    padding-bottom: 20px;
    color: #700;
}



#menu {
    max-width: 85%;
    margin: 20px auto;
    display: flex;
    max-width: 100%;
    margin: auto;
    border: 8px double gray;
    border-radius: 4px;
}

#number {
    width: 200px;
    margin: auto;
}

#form{
    width: 50%;
    margin: auto;
}

#form h2,
#mobilemenu h2 {
    font-size: 50px;
}

#preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF2700;
    padding-top: 25%;
    font-family: 'federant' ;
    background: #A0A4F5 url(PiesDance.gif) no-repeat center center;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999999999999;
    top: 0;
}


/*=======================================*/


/*=======================================*/

@media (max-width: 1000px) and (min-width: 701px) {
    
    .desktop{
        display: none;
    }
    
    .overlay{
        background-size: 33%;
    }
    
    #rotate {
        display: none;
    }
    
    .sidenav .closebtn {
        margin: 0 15px;
        padding: 30px 27px 28px 22px;
    }
    
    .logo {
        margin: 12px 0 0 12px;
        max-width: 75px;
    }
    
    #togo {
        margin: 20px 0;
    }
    
    p {
        color: #fff;
        font-size: 15px;
        width: 250px;
        margin: auto;
        font-family: serif;
    }
    
    #logo {
        font-size: 18px;
        color: #800;
        font-style: italic;
        font-weight: bolder;
        width: 360px;
        margin: auto;
        text-align: center;
    }
    
    .sociallink img {
        width: 40px;
        margin: 0px 20px;
        filter: drop-shadow(2px 1px 1px #000);
    }
    
    .sociallink:hover {
        filter: drop-shadow(1px 1px 3px #fff);
    }
    
    #stage {
        width: 100%;
        max-height: 200px;
    }
    
    #intro {
        margin: 50px auto;
        height: 450px;
        width: 100%;
    }
    
    h1 {
        font-family: 'Redressed';
        font-size: 25px;
        max-width: 100%;
        padding: 0 0 2px 0;
        margin-top: -50px;
    }
    
    h4 {
        font-size: 15px;
        padding: 8px 10px;
        width: 120px;
        position: absolute;
        top: 25px;
        left: 43%;
        border-radius: 20px;
    }
    
    h2{
        margin-top: 250px;
    }
    
    h6{
        margin: -40px auto 0;
        font-size: 15px;
        width: 315px;
    }
    
    #intro img {
        margin: 44px auto;
        width: 100%;
        max-height: 550px;
        border-bottom: 1px solid gray;
    }
    
    .menu {
        width: 85%;
        margin: auto;
    }
    
    #menu{
        border-radius: 20px;
        border: 7px double gray;
    }
    
    textarea,
    input {
        font-family: 'federant', serif;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        max-width: 500px;
        background-color: #000;
    }
    
    #message {
        height: 200px;
        background-color: #1a1a19;
    }
    
    select {
        font-family: 'federant', serif;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        padding: 10px 25px;
        max-width: 30%;
        box-sizing: border-box;
        background-color: #1a1a19;
    }
    
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: .7;
        /* Firefox */
    }
    
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
    }
    
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
    }
    
    /* Style inputs with type="text", select elements and textareas */
    input[type=text],
    select,
    textarea {
        background-color: #1a1a19;
        margin: auto;
        box-shadow: 2px 2px 10px #ff2700;
        text-align: center;
        width: 65%;
        /* Full width */
        padding: 8px;
        /* Some padding */
        border: 1px solid gray;
        /* Gray border */
        border-radius: 17px;
        /* Rounded borders */
        box-sizing: border-box;
        /* Make sure that padding and width stays in place */
        margin-top: 10px;
        /* Add a top margin */
        margin-bottom: 30px;
        /* Bottom margin */
        resize: vertical;
        /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        color: #ffeecc;
        padding: 10px 39px;
        background: repeating-linear-gradient(to top, #FF2700, #f00, #ff0, #FF2700 100%);
        width: 150px;
        border-radius: 30px;
        font-family: 'Federant';
        font-size: 20px;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        border: .5px solid #ff0;
        box-shadow: 2px 8px 10px black, -2px 8px 10px black;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        margin-bottom: 50px;
    }
    /* When moving the mouse over the submit button, add a blue color */
    input[type=submit]:hover {
        box-shadow: 2px 8px 30px #FF0;
        color: antiquewhite;
        text-shadow: 1px 1px 0 #800, -1px -1px 0 #800, 1px -1px 0 #800, -1px 1px 0 #800, 1px 1px 0 #800;
        cursor: pointer;
        background: repeating-linear-gradient(to top, #FF2700, #f00, #ff0 100%);
    }
    
    #fname {
        margin-top: 100px;
    }
    
    #form {
        text-align: center;
        background: url(BlackWood.png);
        background-size: 100% 100%;
        border: 1px solid gray;
        border-radius: 20px;
        width: 85%;
        margin: 30px auto;
    }
    
    #form h2{
        margin-bottom: -50px;
        color: #FF2700;
        text-align: center;
        text-shadow: -1px -1px 0 #040, 1px 1px 0 #ff0;
    }
    
    footer {
        margin-top: 50px;
        text-align: center;
        font-size: 20PX;
        color: #fff;
    }
    
    footer p {
        width: 100%;
        font-weight: bolder;
        color: #fff;
    }
    
    .logo {
        width: 75px;
        margin: 10px 0 0 20px;
    }
    
    nav {
        margin-top: 17px;
        width: 97%;
        height: 110px;
    }
    
    .navicon {
        margin: 20px 30px 0px 0px;
        width: 40px;
        height: 32px;
    }
    
    #stage {
        margin: 6px 0px;
    }
    
    #mobilemenu {
        max-width: 90%;
    }
    
    .modalDialog>div {
        width: 80%;
    }
    
    .close {
        right: 70px;
        top: 40px;
    }
    
    #menumade{
        width: 55px;
    }
}


/*=======================================*/


/*=======================================*/

@media (max-width: 700px) {
    
    .desktop{
        display: none;
    }
    
    .overlay{
        background-size: 33%;
    }
    
    .animated {
        background: url(Charred.jpg);
        background-size: cover;
        background-position: center top;
    }
    
    .logo {
        max-width: 65px;
        margin: 0;
    }
    
    nav {
        margin: 11px auto 25px;
        padding: 10px 12px;
        height: 95px;
        
    }
    
    h4 {
        font-size: 12px;
        padding: 3px 8px;
        width: 100px;
        margin: -10px auto;
        border-radius: 11px;
    }
    
    h6{
        margin: auto;
        font-size: 12px;
        width: 250px;
    }
    
    .sidenav .closebtn {
        margin: 0px;
        font-size: 32px;
        padding: 28px 30px 28px 22px;
    }
    
    .navicon {
        width: 35px;
        height: 28px;
        margin: -25px 5px 0px 0px;
    }
    
    #rotate {
        width: 50px;
        float: left;
    }
    
    #number {
        width: 150px;
        margin: auto;
    }
    
    #map {
        width: 286px;
        height: 148px;
        margin: 50px auto;
        border: 4px double gray;
        border-radius: 12px;
    }
    iframe {
        width: 278px;
        height: 140px;
        border-radius: 8px;
    }
    #stage {
        width: 100%;
        margin: 2px 0px;
    }
    
    #stage img{
        border-bottom: 1px solid gray;
    }
    
    #intro {
        margin: 10px auto;
        height: 300px;
        width: 100%;
    }
    h1 {
        font-family: 'Redressed';
        line-height: 22px;
        letter-spacing: -.5px;
        font-size: 20px;
        margin: -20px auto;
    }
    
    #intro img {
        margin: 25px auto;
        width: 100%;
        height: 300px;
    }
    
    #logo {
        font-size: 12px;
        color: #800;
        font-style: italic;
        font-weight: bolder;
        width: 230px;
        margin: auto;
        text-align: center;
    }
    
    #logo img {
        max-width: 185px;
        margin: auto;
    }
    
    #menumade {
        padding: 10px 0;
        width: 50px;
    }
    
    #map {
        margin: 30px auto 40px;
    }
    
    h2 {
        font-size: 24px;
        color: #FF2700;
        text-align: center;
        text-shadow: -1px -1px 0 #040, 1px 1px 0 #fff;
        margin-top: 50px;
    }
    
    #menu {
        width: 95%;
        border-radius: 15px;
        border: 5px double gray;
    }
    
    .menu{
        margin-bottom: 50px;
    }
    
    
    h3 {
        font-size: 20px;
        width: 150px;
    }
    h5 {
        font-size: 22px;
    }
    p {
        color: #fff;
        font-size: 12px;
        width: 225px;
        margin: auto;
        font-family: serif;
        text-align: center;
    }
    
    .sociallink img {
        width: 25px;
        margin: 0px 10px;
        filter: drop-shadow(2px 1px 1px #000);
    }
    
    .sociallink:hover {
        filter: drop-shadow(1px 1px 1px #fff);
    }
    
    #location h2 {
        margin: 10px;
    }
    
    #location h3 {
        margin: 0px;
    }
    
    #form {
        text-align: center;
        background: url(BlackWood.png);
        background-size: 100% 100%;
        border: 1px solid gray;
        border-radius: 20px;
        width: 85%;
        margin: 30px auto;
    }
    
    #form h2 {
        font-size: 30px;
        margin-top: 30px;
        color: #FF2700;
        text-align: center;
        text-shadow: -1px -1px 0 #040, 1px 1px 0 #ff0;
    }
    
    select {
        padding: 0px;
        font-family: 'federant', serif;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        max-width: 50%;
        box-sizing: border-box;
        background-color: #1a1a19;
    }
    #message {
        height: 100px;
    }
    #fname {
        margin-top: 55px;
    }
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: .5;
        /* Firefox */
        font-family: 'federant';
        font-size: 17px;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
    }
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
    }
    /* Style inputs with type="text", select elements and textareas */
    input[type=text],
    select,
    textarea {
        background-color: #1a1a19;
        margin: auto;
        font-family: 'federant';
        font-size: 18px;
        color: white;
        box-shadow: 2px 2px 5px #FF2700;
        text-align: center;
        width: 80%;
        padding: 5px;
        /* Some padding */
        border: .5px solid gray;
        /* Gray border */
        border-radius: 15px;
        /* Rounded borders */
        box-sizing: border-box;
        /* Make sure that padding and width stays in place */
        margin-top: 25px;
        /* Add a top margin */
        margin-bottom: 10px;
        /* Bottom margin */
        resize: vertical;
        /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        color: #ffeecc;
        padding: 5px 10px;
        background: repeating-linear-gradient(to top, #FF2700, #f00, #ff0, #FF2700 100%);
        width: 125px;
        border-radius: 30px;
        font-family: 'Federant';
        font-size: 17px;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        border: .5px solid #ff0;
        box-shadow: 2px 8px 10px black, -2px 8px 10px black;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        margin: 20px auto;
    }
    /* When moving the mouse over the submit button, add a blue color */
    input[type=submit]:hover {
        box-shadow: 2px 8px 30px #FF0;
        color: antiquewhite;
        text-shadow: 1px 1px 0 #800, -1px -1px 0 #800, 1px -1px 0 #800, -1px 1px 0 #800, 1px 1px 0 #800;
        cursor: pointer;
        background: repeating-linear-gradient(to top, #FF2700, #f00, #ff0 100%);
    }
    /* Add a background color and some padding around the form */
    .container {
        width: 850px;
        max-width: 98%;
        margin: auto;
    }
    #form {
        text-align: center;
        margin-bottom: 20px;
    }
    footer {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 20PX;
        color: #fff;
    }
    footer p {
        width: 100%;
        font-weight: bolder;
        font-size: 15px;
        color: #fff;
    }
    .modalDialog>div {
        font-family: federant;
        font-size: 18px;
        text-align: center;
        width: 90%;
        position: relative;
        margin: 15px auto;
        padding: 30px 20px;
        border-radius: 15px;
        background: url(BlackWood.png);
        background-size: 100% 130%;
        border: #ff2700 double 3px;
        max-width: 100%;
        max-height: calc(100vh - 3rem);
        overflow-y: auto;
    }
    .close {
        right: 10px;
        top: 5px;
    }
}

/*=======================================*/


/*=======================================*/

@media (min-width: 1001px) {
    
    .navicon, #togo{
        display: none;
    }
    
    .desktop{
        display: flex;
        width: 100%;
        height: 150px;
        background: url(BurntPlank.png) no-repeat;
        filter: drop-shadow(2px 2px 5px #ff2700);
        position: fixed;
        margin: -10px 650px 50px;
        z-index: 999999;
    }
    
    .desknav{
        font-size: 20px;
        margin: 60px 30px;
    }

    
    .desktop a{
        height: 35px;
        font-family: 'Quintessential';
        font-weight: bolder;
        font-size: 22px;
        text-transform: uppercase;
        transition: 1s;
        margin: 55px -25px 0 20px;
        text-decoration: none;
        padding: 0px 25px;
        color: #fff;
        transition: 1s;
        text-shadow:  -1px 1px 0px #000, 1px -1px 0px #000;
    }

    .desktop a:hover{
        text-shadow: 2px 2px 2px #FF2700, -2px -2px 2px #FF2700, -2px 2px 2px #FF2700, 2px -2px 2px #FF2700;
        color: #fff;
        text-decoration: none;
        transition: 1s;
        background: #222;
        background-size: 150%;
        font-weight: bolder;
    }
    
    #rotate,
    .navicon1 {
        display: none;
    }
    .sociallink img {
        width: 50px;
        margin: 0px 50px;
        filter: drop-shadow(2px 1px 1px #000);
    }
    .sociallink:hover {
        filter: drop-shadow(-2px -1px 3px #fff);
    }
    #intro img {
        margin: 56px auto;
        width: 100%;
        height: 750px;
        border-bottom: 1px solid gray;
    }
    
    #info {
        display: flex;
    }
    
    .logo{
        position: fixed;
        left: 0;
        z-index: 9999999;
    }
    
    #stage {
        width: 100%;
        
    }

    #hours {
        flex: 3;
        text-align: center;
        max-width: 250px;
        margin: 0 auto;
    }
    #reservations {
        flex: 2;
        text-align: center;
        max-width: 350px;
        margin: 0px auto;
    }
    #reservations h2 {
        margin-bottom: 30px;
    }
    #location img {
        width: 30px;
    }
    #location {
        text-align: center;
        flex: 1;
        max-width: 250px;
        margin: 0 auto;
    }
    #location h3 {
        margin: 5px;
    }
    #number {
        margin-top: 30px;
    }
    
    h1 {
        font-family: 'Redressed';
        font-size: 38px;
        margin-top: 35px; 
    }
    
    h2{
        margin-top: 250px;
    }
    
    p {
        font-size: 22px;
        width: 375px;
        margin: auto;
        font-family: serif;
    }
    #reservation {
        color: #FF2700;
        padding: 10px 20px;
        background: repeating-linear-gradient(to top, #500, #900, red 100%);
        width: 100px;
        border-radius: 30px;
        font-family: 'Federant';
        font-size: 20px;
        text-decoration: none;
        border: .5px solid #800;
        box-shadow: 2px 4px 8px #700;
    }
    #mobilemenu {
        max-width: 75%;
        margin: 20px auto;
    }
    textarea,
    input {
        font-family: 'federant', serif;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        max-width: 450px;
        background-color: #1a1a19;
    }
    select {
        font-family: 'federant', serif;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        max-width: 30%;
        box-sizing: border-box;
        background-color: #1a1a19;
    }
    
    #message {
        height: 200px;
        background-color: #1a1a19;
    }
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: .5;
        background-color: #1a1a19;
        /* Firefox */
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
    }
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
    }
    /* Style inputs with type="text", select elements and textareas */
    input[type=text],
    select,
    textarea {
        background-color: #1a1a19;
        margin: auto;
        text-align: center;
        box-shadow: 2px 2px 10px #FF2700;
        width: 90%;
        /* Full width */
        padding:8px;
        /* Some padding */
        border: .5px solid gray;
        /* Gray border */
        border-radius: 17px;
        /* Rounded borders */
        box-sizing: border-box;
        /* Make sure that padding and width stays in place */
        margin-top: 30px;
        /* Add a top margin */
        margin-bottom: 30px;
        /* Bottom margin */
        resize: vertical;
        /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        color: #ffeecc;
        padding: 10px 39px;
        background: repeating-linear-gradient(to top, #FF2700, #f00, #ff0, #FF2700 100%);
        width: 150px;
        border-radius: 30px;
        font-family: 'Federant';
        font-size: 20px;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        border: .5px solid #ff0;
        box-shadow: 2px 8px 10px black, -2px 8px 10px black;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        margin-bottom: 50px;
    }
    /* When moving the mouse over the submit button, add a blue color */
    input[type=submit]:hover {
        box-shadow: 2px 8px 30px #FF0;
        color: antiquewhite;
        text-shadow: 1px 1px 0 #800, -1px -1px 0 #800, 1px -1px 0 #800, -1px 1px 0 #800, 1px 1px 0 #800;
        cursor: pointer;
        background: repeating-linear-gradient(to top, #FF2700, #f00, #ff0 100%);
    }
    #fname {
        margin-top: 100px;
    }

    #form {
        width: 70%;
        text-align: center;
        background: url(BlackWood.png);
        background-size: 100% 100%;
        border: 1px solid gray;
        border-radius: 20px;
        margin: auto;
    }
    
    #form h2{
        margin-bottom: -50px;
        color: #FF2700;
        text-align: center;
        text-shadow: -1px -1px 0 #040, 1px 1px 0 #ff0;
    }
    
    .menu{
        width: 85%;
        margin: 50px auto;
    }
    
    #menu{
        width: 100%;
        border-radius: 20px;
    }
    
    footer {
        margin-top: 100px;
        text-align: center;
        font-size: 20PX;
        color: #fff;
    }
    footer p {
        width: 100%;
        font-weight: bolder;
        color: #fff;
    }
    
    .modalDialog{
        z-index: 999999999;
    }
}

/*=======================================*/


/*=======================================*/

@media (max-width: 1200px) and (min-width: 1000px) {
    
    .desktop a{
        margin: 20px 25px;
        padding: 0px 0px;
        font-size: 20px;
    }
    
    .desktop{
        margin: 0 450px;
    }
    
    #stage {
        width: 100%;
        margin: 18px 0;
    }
    
    h1 {
        font-family: 'Redressed';
        font-size: 32px;
    }
    
    #stage img {
        width: 100%;
        height: 600px;
        margin: auto;
    }
    #intro {
        width: 100%;
        height: 600px;
    }
    #intro img {
        margin: 50px auto;
        height: 500px;
    }
    .close {
        right: 240px;
    }
}

